.error-page-container
{
padding-top: 70px;


 
a{ 
    color: $black-gray !important;
    text-decoration: underline;
    &:hover { 
        color: $black-gray !important;   
    }
}

    .text { 
        margin-top: 10px;
    
    }
}
