@import "./login.scss";
@import "./register.scss";
@import "./password.scss";
@import "./account.scss";

.authentication-container {
    // background-image: url("/images/main/background.jpg");
    // height: 100vh;
    // position: relative;
    // width: 100%;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // overflow: hidden;
    padding: 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    flex: 1 1 auto;
    input { 
        // background: $second-main-color !important;
        border: 1px solid #d7d7d7 !important;

    }

    .form-card,
    .account-section-container {
    
        flex: 0 0 600px;
        max-width: 600px;
        background-color: rgba(255, 255, 255, 0.8); // ??
        padding: 25px 50px;

        .my-errors {
            margin: 1rem 0 1rem 2rem;
            text-align: left;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 1px;
            color: $black-gray;
            ul {
                li {
                    margin-bottom: 10px;
                    @extend .authentication-font;
                }
            }
        }

        .auth-text {
            @extend .authentication-font;
            text-align: center;
            margin: 0.5rem auto 1rem;

            line-height: 20px;
        }
        input {
            width: 100%;
            // background: #fff;
            border: 0;
            margin: 1.5rem 0 0;
            padding: 22px 15px;

            line-height: 18px;

            @extend .authentication-font;
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }

            &::placeholder {
                @extend .authentication-font;
            }
        }
        .forget-password,
        .create-account,
        .login {
            text-align: right;
            margin: 15px 0px;
            a {
                text-decoration: underline !important;

                @extend .authentication-font;
            }
        }
        .create-account,
        .login {
            text-align: center;
        }
        .buttons-holder {
            text-align: center;
            padding: 20px 0px 0px;
        }

        button {
            text-align: center;
            @extend .big-black-button;
        }
        a.cancel {
            display: inline-block;

            margin-top: 20px;
            text-decoration: underline !important;
            @extend .authentication-font;
            text-align: center;
      

        }
    }

    .account-section-container {
        // min-height: 600px;
        padding:  50px 20px;
        flex: 0 0 1600px;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        .navigation-section {
            flex: 0 0 250px;
            max-width: 250px;
            .navigation-block {
                margin: 12px 0px;
            }
            a{ 
                &:hover { 
                    color: $black-gray !important
                }
            }
            .navigation-link {
                @extend .authentication-font;
                text-transform: uppercase !important;
                font-size: 17px !important;
                color: $gray-black !important;
                font-weight: 400 !important;
            }

            .items-number {
                display: inline-block;
    font-size: 12px;
    color: #fff;
    background: black;
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    margin: 0px 0px 0px 8px;
    position: relative;
    top: -3px;
    padding: 0px 0px 0px 6px;
            }

            .logout-link {
                @extend .link;
                text-decoration: underline;
                font-size: 17px !important;
            }
        }
        .form-section {
            flex: 0 0 calc(100% - 250px);
            max-width: calc(100% - 250px);
            position: relative;

            form {
                // margin-top: 20px;
            }
            .authentication-font {
                padding-left: 10px;
                margin-bottom: 5px !important;
            }
            input {
                margin: 0px 0px 20px 0px !important;
            }

            p.authentication-font {
                padding-left: 0px !important;

                margin-top: 10px !important;
            }
        }

        .form-section > div {
            display: none;
        }
        #orders_informations {
            display: block;
        }
        .form-section > div {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }

        #account_informations {
            input {
                max-width: 80% !important;
            }
        }
        .address-buttons-holder {
            margin-top: 2px;
        }
    }



    @media (max-width: 992px) {
     
        .form-section {
            margin-top: 20px;
            flex: 0 0 100% !important;
            max-width: 100% !important;
            input {
                max-width: 100% !important;
            }
        }
        .navigation-section {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }

 
    }

    @media (max-width: 768px) {
        .account-section-container {
            .navigation-section {
                // padding: 0px 20px;
                .navigation-block {
                    margin: 8px 0px !important;
                }
            }
            .navigation-link {
                font-size: 17px !important;
            }
            padding: 20px 20px 30px !important;
        }
        .form-card {
            flex: 0 0 92% !important;
            max-width: 92% !important;
            margin: auto !important;
            padding: 25px 20px  0px!important;
        }
        .col-6{
            padding: 8px !important;
        }
    }
}

@media (max-width: 550px) {
    .form-card {
        flex: 0 0 400px !important;
        max-width: 400px !important;
    }
}
