
.datatable {
    box-shadow : 0 1px 1px 1px rgb(10 10 10 / 1%), 0 1px 1px 0 rgb(0 0 0 / 10%), 0 1px 3px rgb(10 10 10 / 10%), 0 1px 6px 0 rgb(10 10 10 / 10%);
    border-radius: 8px ;
    margin-top: 20px;

    .image {
       border-radius: 5px;
       width: 90px;

       background: whitesmoke;
    }

    .slider-image {
        @extend .image ;
        width: 220px;
        height: unset;
    }

    .widen-image {
      width: 120px;
      border-radius: 5px;
      background: whitesmoke;
    }

    .description {
      max-width: 600px;
    }

    .snackbar {
      margin-top: 5px;
      margin-left: -5px;
    }
}
