.error-page-container
{
padding-top: 50px;


 
a{ 
    color: $black-gray !important;
    &:hover { 
        color: $black-gray !important;   
    }
}

    .text { 
        margin-top: 10px;
    
    }
}
