.products-content-holder {
    min-height: 380px !important;
    @extend .fluid-container;

    .shop-products-section {
        flex: 0 0 100%;
        max-width: 0 0 100%;
        transition: 0.3s all ease-in-out;
        @extend.fluid-container;
        @extend .flex-father;
        .product-block {
            position: relative;
        
          
            
     
            a {
                &:hover {
                    text-decoration: none !important;
                }
            }
            flex: 0 0 calc(25% - 20px);
            flex: 0 0 calc(25% - 20px);
            margin: 0px 10px 40px ;
            img {
                width: 100%;
            }
            .product-content-holder {
                padding: 10px;
                .shop-category-name {
                    display: inline-block;
                }
            }
        }

        .add-transation { 
            transition: 1s ease all;
            &::after { 
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgb(255 255 255);
                opacity: 0.5;
                z-index: 99 !important;
              }
        }
        @media (max-width: 1200px) {
            padding: 0px 10px;
            .product-block {
                flex: 0 0 calc(33.33% - 20px);
                max-width: 0 0 calc(33.33% - 20px);
                margin: 0px 10px 40px;
            }
        }
        @media (max-width: 768px) {
            padding: 0px 10px;
            .product-block {
                flex: 0 0 calc(50% - 20px);
                flex: 0 0 calc(50% - 20px);
           
            }
        }
        a {
            &:hover {
                text-decoration: none !important;
            }
        }
    }

    .filter-results-holder {
        flex: 0 0 100%;
        max-width: 0 0 100% !important;
        @extend .text;
        min-height: 380px;
        text-align: left;
        padding: 20px 10px;

        .shop-report-filter-header:nth-child(1) { 
            margin-top: 10px;
        }

        .shop-report-filter-header:nth-child(2) { 
            margin-top: 5px;
        }
    }

    .hide {
        transition: 0.3s all ease-in;
        opacity: 0;
    }
}



// Check that the file's SHA256 hash matches 6c0804f1dbbd605b10cdf70389fbd7ac1e1c5800239ae27453b030a01379e8be