.search-brand-user-wishlist-cart-section {

    .holder { 

  
    @extend .fluid-container;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: 20px 20px !important;

    .bars-image-holder {
        display: none;
    }

    .search-holder {
        flex: 0 0 40%;
        max-width: 40%;

        .search {
            display: inline-block;
            position: relative;
            min-width: 276px;

            @extend .link-left-to-right;

            &:after {
                top: 33px;
                background: $black-gray;
                height: 1px !important;
            }

            input {
    
                border: none;
                // border-bottom: 1px solid $light-icon-color;

                border-radius: 0px !important;
                padding-bottom: 18px !important;

                @extend .no-focus;

                &::placeholder {
                    @extend .paragraph;

                }

                @extend .paragraph;
            }
        }
    }

    .brand {
        flex: 0 0 20%;
        max-width: 20%;

        text-align: center;

        .image {
            width: 80px;
        }
    }

    .user-wishlist-cart {
        flex: 0 0 40%;
        max-width: 40%;
        padding-top: 5px;
        text-align: right;


        .wishlist ,   .cart  ,     .user {
            margin-left: 15px;
            display: inline-block;
            cursor: pointer;
        }

    }


    button {
        position: absolute;
        top: -5px;
        right: 20px;

        .search-image {
            width: 16px;


        }
    }


    .heart-image,  .user-image ,   .bars-image  , 
    .cart-image {
        width: 20px;

    
    }

    @media (max-width: 1191px) {
  
    }

    @media (max-width: 992px) {
        .search-holder {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }

        .brand {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }

        .user-wishlist-cart {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }

    @media (max-width: 768px) {
        padding: 20px 10px !important;

        .search-holder {
            display: none;
        }

        .bars-image-holder {
            display: block;
            cursor: pointer;
            flex: 0 0 33.33%;
            max-width: 33.33%;

    
        }

   
        .user-wishlist-cart {
            padding-top: 0px;

        }
    }

    @media (max-width: 600px) {
        span.disapered {
            display: none;
        }
    }
}

@media(max-width:768px) { 
    box-shadow: rgb(100 100 111 / 13%) 0px 5px 10px 0px !important;
}
}