.search-brand-user-wishlist-cart-section {

    .holder { 
    @extend .fluid-container;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: 20px 20px !important;

    .bars-image-holder {
        display: none;
    }

    .search-holder {
        flex: 0 0 40%;
        max-width: 40%;

        .search {
            display: inline-block;
            position: relative;
            min-width: 276px;

       
            top: -5px;

          


            input {
                padding-bottom: 10px !important;
                border: none;
                display: inline-block;
                width: 93%;
                border: 1px solid #dfdfdf;
                border-radius: 0px !important;

                @extend .no-focus;

                &::placeholder {
                    @extend .paragraph;

                }

                @extend .paragraph;
            }
        }

        i { 
            position: relative;
    left: 10px;
    color: $black-gray !important;
    cursor: pointer;
        }
    }

    .brand {
        
        flex: 0 0 20%;
        max-width: 20%;

        text-align: center;

        .image {
            width: 80px;
        }
    }

    .user-wishlist-cart {
        flex: 0 0 40%;
        max-width: 40%;
        padding-top: 5px;
        text-align: right;


        .wishlist ,   .cart  ,     .user {
            margin-left: 15px;
            display: inline-block;
            cursor: pointer;
        }

    }


    button {
        @extend .no-focus;
        position: absolute;
        right: 40px;
        top: 5px;
      

        .search-image {
            width: 16px;


        }
    }


    .heart-image,  .user-image ,   .bars-image  , 
    .cart-image {
        width: 20px;

    
    }

    @media (max-width: 1191px) {
  
    }

    @media (max-width: 1100px) {
        .search-holder {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }

        .brand {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }

        .user-wishlist-cart {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }

    @media (max-width: 1100px) {
        padding: 20px 10px !important;

        .search-holder {
            display: none;
        }

        .bars-image-holder {
            display: block;
            cursor: pointer;
            flex: 0 0 33.33%;
            max-width: 33.33%;

    
        }

   
        .user-wishlist-cart {
            padding-top: 0px;

        }
    }

    @media (max-width: 600px) {
        span.disapered {
            display: none;
        }
    }
}

@media(max-width:1100px) { 
    box-shadow: rgb(100 100 111 / 13%) 0px 5px 10px 0px !important;
}
}