.links-section {
    background-color: $second-main-color;
    .holder {
        @extend .fluid-container;
        padding: 20px 20px 20px;
        padding-left: 20px;

        .links {
            position: relative;

            a {

               


                position: relative;
                margin-right: 20px;
                @extend .link;
                display: inline-block;
                font-size: 13px !important;
                text-transform: uppercase !important;
                letter-spacing: 2px;
                color: $gray-black !important;
                text-decoration: none !important;

 
            
         

                @extend .link-left-to-right;
                &:after {
                    top: 36px;
                }
            }
        }

        @media (max-width: 1100px) {
            display: none;

            .links {
                a {
                    margin: 0px 8px;
                }
            }
        }
    }
}
