.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 300px;
    height: 100%;

}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body {
    padding: 0px !important;

}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0px !important;
    border: none;
    top: -1px;
}

.modal-body {
    border-radius:  0px !important;
    .main {
        width: 87%;
      margin: 5px auto;
      margin-top: 30px;
      .search {
        display: inline-block;
        position: relative;
        min-width: 246px;

         @extend .link-left-to-right;

        &:after {
            top: 33px;
            background: $black-gray;
            height: 1px !important;
        }

        input {

            border: none;
            border-bottom: 1px solid $light-icon-color;

            border-radius: 0px !important;
            padding-bottom: 18px !important;

            @extend .no-focus;

            &::placeholder {
                @extend .paragraph;

            }

            @extend .paragraph;
        }
        button {
            position: absolute;
            top: -5px;
            right: 20px;
    
            .search-image {
                width: 16px;
    
    
            }
        }
    }
    }



    .links-blocks-holder {
        margin-top: 30px;
        .link-block {

            padding: 10px 20px 10px 20px;

            cursor: pointer;
            &:hover {
                .icon i , a {
                    color: $main-color !important;
                }

            }

            img {
                width: 50px;
                display: inline-block;
                margin-right: 15px;
            }
            a.link {
                text-decoration: none !important;
                display: inline-block;

                padding-left: 5px;
                cursor: pointer;

                @extend .link;


            }
            .active {
                color: $main-color !important;
            }

            .active + .icon {
                i {
                    color: $main-color !important;
                }
            }

            .icon {
                a {
                    text-decoration: none !important;
                    color: $black-gray !important;
                }
                cursor: pointer;
              margin-top: 20px;
                float: right;
                padding-right: 10px;
                text-align: right;
                i {
                    font-size: 13px !important;
                }
            }
        }
    }

    .user-holder {
        margin: 10px 0px 0px 30px;
        .user-image {
            display: inline-block;
            width: 25px;
            cursor: pointer;
        }

        .user-paragraphs {
            display: inline-block;
            margin-left: 20px;
            margin-top: 15px;
            cursor: pointer;
            @extend .link;

            a {
                color: $black-gray !important;
                &:hover {
                    text-decoration: none !important;
                    color: $main-color !important;
                }
            }
        }
    }
    .social-media-holder {
        padding-left: 20px;
        .social-media {
            display: inline-block;
            text-align: center;
            margin-top: 20px;
            padding-bottom: 40px;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
                float: left;

                color: $black-gray;

                border: 1px solid $black-gray;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin: 10px;

                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    color: $main-color;
                    border-color: $main-color;
                }
            }
        }
    }
}

/* ----- v CAN BE DELETED v ----- */
[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}



body.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }



  // success alert 
  .success-alert { 
   text-align: center !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      background-color:  $light-gold !important;
      border-color: white !important;
      color: $black-gray!important;
      margin-bottom: 0px !important;
      font-size: 14px;

  }

