
    .product-details-accordion {
        margin-top: 30px;
        .accordion-item {
            padding: 20px 0px;

            border-top: 1px solid #e5e5e5;

            .accordion-header {
                font-size: 14px;
                margin-bottom: 10px;

                font-weight: 500;
                color: $black-gray;

                i { 
                    float: right;
                    padding-right: 20px;
                }
            }

            .accordion-body { 
                @extend .paragraph;
                     .care {
                font-size: 13px ;
                font-weight: 500 ;
                color: $black-gray ;
                margin: 10px 0px;
            
            }


                       .measurements-size {
               @extend .care;
               ul {
                   padding-left: 20px;
                   @extend .paragraph;
                   margin-top: 5px;
                   li {
                       margin-top: 5px;
                   }
               }
            }


            .contents-ul { 
                padding-left: 20px ;
            }
            }
        }
        .main-color { 
            color: $main-color;
        }
        .accordion-item:last-of-type {
            border-bottom: 1px solid #e5e5e5;
        }
    }