.images-section {
    width: 50%;
    display: inline-block;
    position: relative;
    

    
    .wishlist { 
      display: inline-block;
      position: absolute;
      z-index: 9;
      top: 20px;
      padding: 5px 10px 6px;
      right: 20px;
      background: white;

      border-radius: 50%;
      cursor: pointer;
      opacity: 0.8;
      transition: 0.3s all ease;
      &:hover { 
        opacity: 1;
      }
      img { 
        width: 14px;
      }
    }

    #product_details_preview_image_slider {
        .owl-dots {
            display: none;
        }
   
      .zomm-image { 
        cursor: zoom-in;
      }

    }

    #product_details_thumb_image_slider {


        .item {
            margin-top: 15px;
            cursor: pointer;
      
            border: 3px solid transparent;
         
            transition: 0.3s all ease;
            &:hover {
        
                border: 3px solid gold;
            }
        }
        .current .item {
     
            border: 3px solid gold;   
        }

        .owl-nav {
            margin-top: 0px !important;
            button {
                position: absolute;
                top: calc(50% - 20px );
                background: white;
                padding: 8px 6px 10px !important;
                border-radius: 0% !important;
                opacity: 0.8;
                transition: 0.2s all ease;
                margin: 0px !important;

                i {
                    color: $black-gray !important;
                    font-size: 12px !important;
                }
                &:nth-child(1) {
                    left: 0px;
                }

                &:nth-child(2) {
                    right: 0px;
                }
                &:hover {
                    opacity: 1;
                }
            }

            svg {
                width: 8px !important;
            }
        }
    }


    .zoom {
        display:inline-block;
        position: relative;
    }
    
    .zoom img {
        display: block;
    }
    
    

}

@media (max-width: 768px) {
    .images-section {
        width: 100%;
        max-width: 600px;

        #product_details_preview_image_slider {
      
        }
        #product_details_thumb_image_slider {
        
        }
    }
}

