.images-section {
    width: 50%;
    display: inline-block;
    position: relative;
    

    
    .wishlist { 
      display: inline-block;
      position: absolute;
      z-index: 9;
      top: 20px;
      padding: 5px 10px 6px;
      right: 20px;
      background: white;

      border-radius: 50%;
      cursor: pointer;
      opacity: 0.8;
      transition: 0.3s all ease;
      &:hover { 
        opacity: 1;
      }
      img { 
        width: 14px;
      }
    }

    #product_details_preview_image_slider {
        .owl-dots {
            display: none;
        }
   
      .zomm-image { 
        cursor: zoom-in;
      }

    }

    #product_details_thumb_image_slider {


        .item {
            margin-top: 15px;
            cursor: pointer;
      
            border: 3px solid transparent;
         
            transition: 0.3s all ease;
            &:hover {
        
                border: 3px solid gold;
            }
        }
        .current .item {
     
            border: 3px solid gold;   
        }
    }


    .zoom {
        display:inline-block;
        position: relative;
    }
    
    .zoom img {
        display: block;
    }
    
    

}

@media (max-width: 768px) {
    .images-section {
        width: 100%;
        max-width: 600px;

        #product_details_preview_image_slider {
      
        }
        #product_details_thumb_image_slider {
        
        }
    }
}

