

// new enhanced colors ++++++++++++++++++++++++++++++++++
$black : #1a1919;
$black-gray: #3b3737;
$hr-color : #ebebeb;
$light-icon-color:#c5c4c4;
$gold : #e5d45e;
$light-gold : #fffad9;
$red : rgb(218, 34, 34);

$gray-black  : #585555;
$main-color:  #ffafaf;
$second-main-color :  #fbf6f6 ;


$white-hover-color : #dbd8d8



