// +++++++++++++ new enhanced fonts ++++++++++++++++
.paragraph {
    color: $gray-black;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 23px
}

.offers-link {
    @extend .paragraph;
    font-size: 13px;
}

.link {
    color: $black-gray;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    text-transform: lowercase;
}

.small-link {
    @extend .link;
    font-size: 12px;
}

.white-header {
    font-size: 27px;
    color: #fff;
    font-weight: 600;
    text-transform: lowercase;
}

.mega-header {
    color: $black-gray;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.header {
    text-transform: lowercase;
    @extend .mega-header;
    font-weight: 500;
    font-size: 18px;
}

.shop-report-filter-header {
    .value {
        @extend .paragraph;
    }
    letter-spacing: 1px;
    text-transform: capitalize;
     color: $gray-black;
    font-weight: 500;
    font-size: 14px;
   
}



.links-header {
    text-align: left;
    @extend .header;
    font-size: 16px;
    font-weight: 500;
}

.text {
    max-width: 450px;
    margin: auto;
    text-align: center;
    @extend .paragraph;
    font-size: 14px;
    line-height: 27px;
}

.product-content {
    text-align: center;
    margin-top: -20px;

    .name {
        color: $black-gray;
        font-weight: 600;
        margin: 15px 0px 7px;
        font-size: 15px;
        text-transform: lowercase;
        letter-spacing: 0px;
    }

    .price {
        @extend .name;
        margin: 0px;
        text-transform: uppercase;

        .old-price {
            margin-left: 5px;
            font-weight: 400;
            text-decoration: line-through;
            color: $light-icon-color;
        }
    }

    .category {
        position: relative;
        top: 5px;
        background: #ffeeee;
        padding: 3px 12px;
        border-radius: 3px;
        color: $black-gray;
        display: inline-block;
    }
}

// product-details font 
.product-details-name { 
    color: $black-gray;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 0px;
}


.product-details-price {
    @extend .product-details-name ;
    text-transform: uppercase;
    font-size: 16px !important;
    .old-price {
        margin-left: 5px;
        font-weight: 300;
        text-decoration: line-through;
        color: $light-icon-color;
    }
}

// product-details font 


.category-name {
    color: $black-gray;
    font-weight: 600;
    margin: 18px 0px;
    font-size: 16px;
}

.sub-link {
    @extend .link;
    font-weight: 400;
    color: $gray-black !important;
}

.authentication-font {
    @extend .sub-link;
    color: $gray-black !important;
    font-weight: 400 !important;
}

// homepage fonts
@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .text {
        max-width: 400px;
    }
    .white-header {
        font-size: 23px;
    }
}

@media (max-width: 550px) {

    .links-header {
  
      
        font-size: 15px !important;
     
    }

    .mega-header {
        font-size: 15px;
     
    }

    .product-content {
        .name {
            font-weight: 500;
            font-size: 13px;
        }

    .category { 
 font-size: 13px ;
        }
    }

    .text {
        font-size: 13px;
        line-height: 23px;
    }

    .category-name {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .white-header {
        font-size: 23px;
        font-weight: 400;
    }
}
