.fluid-container {
    max-width: 1200px;
    margin: auto;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.seperator-section-container {
    @extend .fluid-container;
    padding: 70px 20px;
}

.side-section-container {
    @extend .fluid-container;
   
}

.flex-father {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

@media(max-width:1250px) {
    .seperator-section-container {
        padding: 70px 20px ;
    }
    .side-section-container {
        padding: 0px 20px !important ;
    }
}

@media(max-width:992px) {}

@media(max-width:768px) {

    .side-section-container {
        padding: 0px 20px ;
    }
}

@media(max-width:550px) {
    .seperator-section-container {
        padding: 50px 20px !important ;
    }
    .side-section-container {
        padding: 0px 20px ;
    }
}

@media(max-width:450px) {
    .bordered-section-button {
        font-size: .9rem !important;
        border-bottom: 2px solid white !important;
    }
}

#main_content {
    width: 100%;
    overflow: hidden !important;
}

.image-container {
    @extend .hover-effect;
}



.customers-nav { 
    padding: 15px 30px;
    background: #333; 
    text-align: center;
    a { 
      text-decoration: underline;
      color: #e7e7e7 !important;
    }
  }