.links-section {

    @extend .side-section-container;
 

padding: 50px 20px !important;


@extend .flex-father;
    .header {
        margin-bottom: 10px;
    }
.links-block {
    display: flex;
    // justify-content: center;
    .links-holder {
        min-width: 151px;
         display: inline-block;
         .sub-link {
             display: inline-block;
             position: relative;
             margin-bottom: 10px ;
             &:hover { 
                 text-decoration: underline;
             }


         }
    }
    flex: 0 0 25%;
    max-width: 25%;

    .social-media {
        text-align: center;
        margin-top: 20px;
        display: flex;

        a {
            img { 
                width: 25px;
                margin: 0px 8px;
          
            }
            i {
                font-size:20px ;
                margin-right: 20px;


            }

            .fa-facebook-f{

                color: $black-gray !important;
            }
            .fa-twitter {

                color: $black-gray !important;
            }
            .fa-instagram {

                   color: $black-gray !important;
            }
        }
    }

}

@media (max-width:992px ) {
    .links-block {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .links-block:nth-of-type(3) {
        margin-top: 40px;
    }
    .links-block:nth-of-type(4) {
        margin-top: 40px;
    }
}

@media (max-width:768px ) {

}
}
