.subscribe-section {

 
    border-top: 1px solid $hr-color;
    border-bottom: 1px solid $hr-color;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    .holder { 
        padding-left: 20px;
        padding-right: 20px;
        @extend .side-section-container;
        margin-top: 20px;
        .subscribe-form {
            position: relative;
            top: -15px;
            padding-left: 30px;
    
            form {

                @extend .flex-father;
                margin-top: 15px;
    
                input {
                    flex: 0 0 100% !important;
                    max-width: 0 0 100% !important;
    
                    @extend .paragraph;
                    @extend .no-focus;
    
                    padding: 10px 8px !important;
                    border: 1px solid $hr-color;
                    border-radius: 3px !important;
    
                    &:focus {
                        border: 1px solid $hr-color;
                    }
                }
    
                button {
                    background: $main-color;
                    position: absolute;
                    right: 10px;
                    padding: 13px 40px;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 1px;
                    transition: .2s all ease;
                    border: 1px solid $main-color;
    
                    &:hover {
                        // color: white;
                        background: white;
                        border: 1px solid gray;
                    }
                }
            }
        }
    
        .content-section {
            .paragraph {
                line-height: 25px;
                margin-top: 10px;
                max-width: 90%;
            }
        }
    
      
    }

         
    @media (max-width: 1191px) {
          
        .subscribe-form {
            margin-top: 30px;
            padding-left: 0px !important;    
            max-width: 90%;
        }  

        .content-section {
       
          
        }
        }

     
    @media (max-width: 600px) {
        .subscribe-form {
      
            max-width: 96%;
        }  

        .content-section {
            .paragraph {
             
                max-width: 95%;
            }
          
        }
        }



}
