.products-container {
    padding: 10px 0px 50px;
    position: relative;
    opacity: 0;
    transition: 0.6s all ease-in-out;
    margin: 50px 0px 50px 0px ;
    width: 96%;
    margin-left: 2%;
    @media (max-width: 1150px) {
      width: 90%;
      margin-left: 5%;
      overflow: auto !important;
    }


    .overflow-products-table {


        @media (max-width: 1150px) {

        min-width : 1150px !important;


          }
    }





    .active_link {
        color: $primary !important;
    }
}

.show_content {
    opacity: 1;
}



