.categories-section {
    @extend .seperator-section-container;
    a { 
        &:hover { 
            text-decoration: none !important;
        }
    }
    .category-block {
        background-color: white !important;
        cursor: pointer;
        position: relative;

  
        .category-name { 
            margin: 15px 0px;
            text-align: center;
            img { 
                width: 20px;
    display: inline-block;
    margin-left: 10px;
    margin-top: -3px;
            }


            
        }

        .content-holder {
            position: absolute;
            margin-top: 30%;
            .shop-button-holder {
                display: block;
                text-align: center;
                margin-top: 150px;
                span {
                    @extend   .white-bordered-bottom-button;
                }
            }

            .name {
              @extend .white-header;
            }
        }
   
    }

    @media (max-width: 768px) {

        .content-holder {
            margin-top: 38% !important;

            .shop-button-holder {
                margin-top: 100px !important;
            }
        }
    }

    @media (max-width: 450px) {
        .content-holder {
            margin-top: 48% !important;
            .shop-button-holder {
                margin-top: 60px !important;
            }
        }
    }

    .categories-owl-carousel {
        
        margin-top: 20px;
        .owl-dots {
            display: none;
        }
        .owl-nav {
            margin-top: 0px !important;
            display: block !important;
            button {
                position: absolute;
                top: calc(50% - 55px);
                background: white;
                padding: 8px 6px 10px !important;
                border-radius: 0% !important;
                opacity: 0.8;
                transition: 0.2s all ease;
                margin: 0px !important;

                i {
                    color: $black-gray !important;
                    font-size: 12px !important;
                }
                &:nth-child(1) {
                    left: 0px;
                }

                &:nth-child(2) {
                    right: 0px;
                }
                &:hover {
                    opacity: 1;
                }
            }

            svg {
                width: 8px !important;
            }
        }
    }

    .text { 
        margin-top : 10px;
        margin-bottom: 5px;
    }
}
