.deals-section {

    @extend .seperator-section-container;

    padding-top: 0px !important;

    a {
        text-decoration: none !important;
    }


    .items-holder { 
        margin-top: 25px;
        @extend .flex-father;

        .product-block { 
            flex:  0   0  calc(25%  - 20px);
         

            margin-right: 20px;
            margin-bottom: 40px;

            img { 
                width: 100%;
            }

            
    @media(max-width:991px) { 
        
   
            flex:  0   0  calc(33.33%  - 20px);
         
      
    }

    @media(max-width:767px) { 
        
   
        flex:  0   0  calc(50%  - 10px);
        margin-right: 10px;
     
  
}


        }
    }

    .mega-header { 
        padding-left: 10px ;
        text-align: left;
    }

}
