.sliders-section {
    overflow: hidden !important;

    #big-screen-sliders {
        button { 
            @extend .no-focus;
        }
        .owl-dots {
            z-index: 999 !important;
            position: absolute;
            top: calc(50% - 30px);
            right: 30px;
            .owl-dot {
                display: block !important;
                span {
                    background-color: rgb(245, 245, 245);
                    width: 13px !important;
                    height: 13px !important;
                    opacity: .8;
                }
            }

            .active span {
                background-color: #fff !important;
                opacity: 1;
            }
        }
        .owl-nav {
            display: none;
        }

        .slider-block {
            @extend .hover-effect;
        }
    }

    #small-screen-sliders {
@extend #big-screen-sliders
    }


    #small-screen-sliders {
        cursor: pointer;
        position: relative;
@extend .hover-effect;
        display: none;
 
        .owl-nav {
            display: none;
        }
    }

    @media (max-width: 768px) {
        #big-screen-sliders {
            display: none;
        }

        #small-screen-sliders {
            display: block;
            max-height: 1000px;
        }
    }
}
