.upload-image-container {
  .big-image-container {
    max-width:1000px;
    width: 60%;
    float: left;

    @media (max-width: 1000px) {
      float: none;
      width: 100%;
    }

    .big-image {
      width: 100%;
      border-radius: 5px;
    }
  }

  .small-image-container {
    width: 40%;
    float: left;
    max-width:500px;

    @media (max-width: 1000px) {
      float: none;
      width: 500px;
    }

    .small-image {
      width: 100%;
      border-radius: 5px;
    }
  }

  .category-image-container {
      width: 600px !important;
  }
  .product-image-container {
    width: 300px;
    float: left;

    @media (max-width: 1000px) {
      float: none;
      width: 500px;
    }

    .image {
      width: 100%;
      border-radius: 5px;
    }
  }

  .variation-image-container {
    // width: 150px;
     float: left;
    display: inline-block;



    .image {
      width: 150px;
      border-radius: 5px;
    }
  }

  .upload-container {
    float: left;
    width: 40%;
    padding: 20px;

    @media (max-width: 1000px) {
      padding: 10px;
      width: 100%;
    }

    .custom-file-upload {
      border: 1px solid  $light-gray;
      display: inline-block;
      padding: 4px 10px;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: aliceblue;
      }
    }
  }

  .variation-upload-container {
      display: inline-block !important;
      float: right !important;
      width: unset !important;

  }

  .category-image {
      max-width: 600px !important;
  }
  .slider-image {
      max-width: 1200px !important;
  }

  .category-nav-image-container {
      width: 400px !important;
  }
}

.upload-file-container {
    @extend .upload-image-container;
    .upload-container {
        width: 100% !important;

        float: none !important;
    }

    .custom-file-upload {
        padding: 0px 12px 2px !important;
    }

}



.variation-image-card { 
  .upload-image-container { 
    .product-image-container {
      width: 100% !important;
      float: none !important;
     }

     .upload-container { 
      width: 100% !important;
      float: none !important;
      padding: 20px 0px 0px 10px !important;
    }

  }
}