.upload-image-container {
  .big-image-container {
    max-width:1000px;
    width: 60%;


    @media (max-width: 1000px) {
      width: 100%;
    }

    .big-image {
      width: 100%;
      border-radius: 5px;
    }
  }

  .small-image-container {
    width: 80%;
    max-width:500px;

 

    .small-image {
      width: 100%;
      border-radius: 5px;
    }
  }

  .category-image-container {
  
  }
  .product-image-container {

max-width: 400px;


    .image {
      width: 100%;
      border-radius: 5px;
    }
  }

  .variation-image-container {

    .image {
      width: 250px;
  
    }
  }

  .upload-container {

    padding: 20px;

    @media (max-width: 1000px) {
      padding: 10px;
      width: 100%;
    }

    .custom-file-upload {
      border: 1px solid  $light-gray;
      display: inline-block;
      padding: 4px 10px;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: aliceblue;
      }
    }
  }


  .category-image {
      
  }
  .slider-image {

      width: 90% !important;
    
  }


  .clear-button { 
    margin-top: 10px
  }

}

.upload-file-container {
    @extend .upload-image-container;
    .upload-container {
        width: 100% !important;

    }

    .custom-file-upload {
        padding: 0px 12px 2px !important;
    }

}


.big-slider-image-container { 
  max-width: 1000px;
  width: 90%;
  .image { 
    width: 100%;
  }
}


.small-slider-image-container { 
  max-width: 500px;
  width: 90%;
  .image { 
    width: 100%;
  }
}



